{% extends 'base.html' %}
{% block content %}
<h2 class="mb-3">Your Documents</h2>
<p><a class="btn btn-success" href="{{ url_for('new_document') }}">Create new document</a></p>
<ul class="list-group">
    {# Iterate over user documents, displaying each as a list group item #}
    {% for doc in documents %}
    <li class="list-group-item">
        <span><a href="{{ url_for('edit_document', doc_id=doc.id) }}">{{ doc.title }}</a></span>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('compile_document', doc_id=doc.id) }}">Compile</a>
    </li>
    {% else %}
    <li class="list-group-item">No documents yet.</li>
    {% endfor %}
</ul>
{% endblock %}
